<% if @repair %>
    <h1>Review for <%= @repair.repair_description %> - <%= @repair.device_name %></h1>
<% else %>
    <h1>All the Reviews</h1>
<% end %>

<ul>
    <% @reviews.each do |review| %>
        <li>
            <%= @review.repair.repair_description %>: <%= link_to @review.title, review_path(review) %> - <%= @review.stars %>
        </li> <br>
    <% end %>
</ul>