<% if @repair %>
    <h1>Review for <%= @repair.repair_description %> - <%= @repair.device_name %></h1>
<% else %>
    <h1>All Reviews</h1>
<% end %>

<ul>
    <% @reviews.each do |review| %>
        <li>
            Title: <%= link_to review.title, review_path(review), class: "link" %>
            <p>Description: <%= review.repair.repair_description %></p>
            <p>Star Rating: <%= review.stars %></p> 
            <p>By: <%= review.user.username %></p>
        </li> <br>
    <% end %>
</ul>