<div class="navbar">
    <%= link_to "Log Out", logout_path, method: :delete, :class => active_class('/logout') %> 
    <%= link_to "Home", root_path, :class => active_class('/') %>
    <%= link_to "All Repairs", repairs_path, :class => active_class('/repairs') %>
    <%= link_to "Add a Review", new_review_path, :class =>  active_class('/reviews/new') %> 
    <%= link_to "All Reviews", reviews_path, :class =>  active_class('/reviews')  %>
    <%= link_to "Profile", user_path(current_user), :class => active_class(user_path(current_user)) %>
</div>