<!DOCTYPE html>
<html>
  <head>
    <title>ShatteredCell</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <p>Welcome <%= current_user.username %></p
    <%= button_to "Schedule a Repair", new_user_repair_path(@user, @repair), method: :get %>
    <br><br>
    <div class="logout-button">
      <%= button_to "Logout", logout_path, method: :delete %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
